@model Cesspool.Controler.ViewModel

  
<br><br>

@{
	Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<title>Index</title>
</head>

<body>
	<div id="chartContainer"></div>
 
    <table style="border-style: dashed; margin-top:450px;">

     <tr>
    <th>Distance</th>
    <th>Voltage</th>
    <th>Time</th>
    </tr>

                        @foreach (var item in Model.Lista)
                        {
                                  
                            <tr  >
                            <td style="border-right-style: dashed;   text-align:center;"><p style="font-size:16px; width:100px;" class="panel-title"> @item.Name </p></td>
                            <td style="border-right-style: dashed;   text-align:center;"><p style="font-size:16px; width:100px;" class="panel-title"> @item.voltage </p></td>
                            <td><p style="font-size:16px;" class="panel-title"> @item.lastUpdated </p></td>
                            </tr>
                      
                        }

    </table>
 

	<script type="text/javascript">
 
		window.onload = function () {

    var result = @Html.Raw(ViewBag.DataPoints);
    
	var dataPoints =[];
	for(var i = 0; i < result.length; i++){
		dataPoints.push({label:result[i].label, y:result[i].y});
	}

			var chart = new CanvasJS.Chart("chartContainer", {
				theme: "theme2",
				animationEnabled: true,
				zoomEnabled: true,
				title: {
					text: "Filling degree of the cesspool in [%]"
				},
				subtitles: [
					{ text: "By each day" }
				],
				 axisX:{
  				title: "Time",
 				},
				axisY:{
				   maximum: 100,
				    title: "In percent"
 				},
				data: [
				{
					type: "column", //change type to bar, line, area, pie, etc
				                    //Uncomment below line to add data coming from the controller.
                    dataPoints:dataPoints
                }
				]
			});
			chart.render();
        };
        
			 </script>
 
</body>
</html>